<h2>
  Technologies
</h2>
<div>
  <label>Technology name:</label> <input #technologyName />
  <button (click)="add(technologyName.value); technologyName.value=''">
    Add
  </button>
</div>
<ul class="technologies">
  <li *ngFor="let technology of technologies"
    [class.selected]="technology === selectedTechnology"
     (click)="onSelect(technology)">
    <span class="badge">{{technology.id}}</span><span>{{technology.name}}</span>
    <button class="delete" (click)="delete(technology); $event.stopPropagation()">x</button>
  </li>
</ul>


<br>
<div *ngIf="selectedTechnology">
  <h2>
    {{selectedTechnology.name | uppercase}} is my selection
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h3>
  *Note: Valid lifecycle states are "Standard", "Containment", "Retirement", and "Research"
</h3>
